.maindiv{
margin-top: 50px;
}
.subdiv{ 
background-color: white;
width: 40%;
box-shadow: 0 0 2px gray;
margin: auto;
padding: 30px;
border-radius: 10px;
font-size: 20px;
}
.lableTag{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
}
.errorlableTag{
    color: red;
}
.inputdiv{
    display: block;
    padding: 7px;
    width: 90%;
    border: 2px solid #ccc;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
}
.inputdivError{
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.199) transparent;
}
.erroTag{
    color: red;
    font-size: 10px;
    margin-top: 2px;
}
.inputdiv:focus{
  outline: none;
}
.submitBtn{
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius:5px;
    font-weight: 600;
    border:1px solid black;
}
.submitBtn:hover{
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}