.allCourses{
margin: 30px auto;

width: 45%;

color: white;
border-radius: 10px;
}
.allCourses h3{
    background-color: rgba(0, 0, 0, 0.596);
    padding: 20px 30px ;
    margin: 20px 0; 
    border-radius: 10px;
}